body {
    background: paleturquoise;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000000;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.links {
    text-decoration: none;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-size: 2000px;

}


.container {
    max-width: 700px;
    padding: 0 20px;
    margin: 0px;
    background-color: whitesmoke;
    background-size: cover;
}

h1 {
    font-family: "Bungee", sans-serif;
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    justify-content: center;
}

.social-logo {
    width: 30px;
    height: 30px;
}

.social-links a {
    text-decoration: none;
}

.item {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: right;
}

.item0 {
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
}

.container0 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.h2 {
    font-family: "Bungee", sans-serif;
    font-size: 2rem;
}